#desktop {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#desktop {
		width: 723px;
		margin-top: calc((100% - 723px) / 2);
		margin-bottom: calc((100% - 723px) / 2);
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#desktop {
		width: 933px;
		margin-top: calc((100% - 933px) / 2);
		margin-bottom: calc((100% - 933px) / 2);
	}
}

@media only screen and (min-width: 1200px) {
	#desktop {
		width: 1127px;
		margin-top: calc((100% - 1127px) / 2);
		margin-bottom: calc((100% - 1127px) / 2);
	}
}

::selection { background: yellow; }
::-moz-selection { background: yellow; }

html { font-size: 14px; }
html, body { height: 100%; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; line-height: 1.4285em; color: rgba(0, 0, 0, 0.87); }
strong { font-weight: 600; }
h1, h2, h3, h4, h5 { line-height: 1.28571429em; margin: calc(2rem -	0.14285714em ) 0em 1rem; font-weight: bold; padding: 0em; }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
	margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
	margin-bottom: 0em;
}
h1, h2, h3 { text-transform: uppercase; }
h1 { font-weight: 900; font-size: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; margin-bottom: 0; }
h2 { font-weight: 900; font-size: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; letter-spacing: 0.25em; }
h2 + p { font-weight: 300; font-size: 1.5rem; }
h3 { font-weight: 700; font-size: 1.25rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; letter-spacing: 0.15em; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1.0625rem; }
a { color: blue; text-decoration: none; }
a[rel="external"]:not(.label):hover, a.language:hover span { text-decoration: underline; }
.language { font-weight: 600; white-space: nowrap; }
p { margin: 0em 0em 1em; line-height: 1.4285em; }
p:first-child { margin-top: 0em; }
p:last-child { margin-bottom: 0em; }
li { list-style: none outside none; }
li:before {
	content: ' ';
	float: left;
	height: 0.42857142857em;
	width: 0.42857142857em;
	background: black;
	border-radius: 100%;
	margin: 0.5em 0 0 -1.25em;
}

.ui.bulleted.list .list > .item:before, .ui.bulleted.list > .item:before, ul.ui.list li:before { content: '\25cf'; margin-left: -1rem; }
.ui.horizontal.bulleted.list > .item, ul.ui.horizontal.bulleted.list li { margin-left: 1.5rem; }

/* Labels */
.labels > .label {
	background-color: #E8E8E8;
	border-radius: 0.28571429rem;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0.78571429rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0.5em;
	padding: 0.5833em 0.833em;
	transition: background 0.1s ease;
	-webkit-transition: background 0.1s ease;
}
.labels > .label:hover {
	background-color: #E0E0E0;
	color: rgba(0, 0, 0, 0.8);
}
.labels > .label:not(:last-child) {
	margin-right: 0.5em;
}

/* Divider */
.divider { border-top: 1px solid rgba(222, 222, 222, 1); }
.divider.fat { border-top: 0.3571428571428571em solid rgba(10, 10, 10, 1); width: 33%; }

@media only screen and (max-width: 767px) {
	#a4 { padding: 0; }
}

#a4 { box-shadow: 0 10px 100px 0 rgba(34,36,38,.1); transition: all 0.2s linear; }
#a4:hover { box-shadow: 0 10px 100px 0 rgba(34,36,38,.3); }
#frame { position: absolute; left: -1em; top: -1em; right: -1em; bottom: -1em; border-color: midnightblue; transition: border-color 0.2s ease-in-out; border-width: 1em; border-style: solid; }
#avatar-wrapper { padding: 0 1em; }
#avatar { position: relative; max-width: 15rem; }
#contacts { list-style: none outside none; display: flex; padding: 0; margin-top: 0; white-space: nowrap; font-size: 0.9em; font-weight: 400; }
#contacts li { margin-bottom: 0.25rem; margin-right: 1em; height: calc(1.1428rem + 4px); }
#contacts li:before { display: none; }
#contacts li a { display: inline-flex; align-items: center; line-height: 1.1428rem; padding: 2px; border-radius: 2px; overflow: hidden; }
#contacts li a .icon { fill: currentColor; height: 1.1428rem; width: 1.1428rem; margin-right: 3px; }
#contacts li a.facebook { color: #3b5998; }
#contacts li a.github { color: black; }
#contacts li a.mail { color: black; }
#contacts li a.skype { color: #00aff0; }
#contacts li a.phone { color: black; }

@media only screen and (max-width: 767px) {
	#frame { opacity: 0; left: 0; right: 0; top: 0; bottom: 0; }
	#name, #contacts { text-align: center; }
	#contacts li { margin-right: 0; }
}
@media only screen and (max-width: 1199px) {
	#avatar-wrapper { padding: 0; }
	#name { margin-bottom: 1em; }
	#contacts { flex-direction: column; }
}

/* Native details element styling */
details > summary::-webkit-details-marker { margin-left: 0.25em;	margin-right: 0.25em; }
details > summary { cursor: pointer; }
details > div { margin-top: 0.5em; }
details > div:after { content: ''; clear: both; display: block; }
/* Alternative to details compatible with Safari */
.details > input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background: none;
	margin-left: 0.25em;
	margin-right: 0.25em;
	border-top: 0.375em solid transparent;
	border-bottom: 0.375em solid transparent;
	border-left: 0.5em solid black;
	width: 0.5em;
	height: 0.75em;
	position: relative;
	transition: 0.2s;
}
.details > input:after {
	content: ' ';
	display: block;
	position: absolute;
	height: 1.25em;
	width: 1.25em;
	top: -0.625em;
	left: -0.875em;
}
.details > input:checked { transform: rotate(90deg); }
.details > label.summary { cursor: pointer; }
.details > input:checked ~ div { display: block; }
.details > div { display: none; margin-top: 0.5em; }
.details > div:after { content: ''; clear: both; display: block; }
/* Details as a list item */
li.details { list-style-type: none; }
li.details:before { display: none; }
li.details > input { float: left; margin-left: -1.25em; margin-top: 0.33em; }

.timeline > ul { list-style: none outside none; padding: 0; }
.timeline > ul > li:before { display: none; }
.timeline > ul > li > ul { list-style: disc outside none; padding-left: 1.5em; }
.timeline > ul > li { margin-top: 1.125em; }
.timeline > ul > li > p { margin: 0; }
.tags p { font-size: 0.88em; }

.color { cursor: pointer; white-space: nowrap; background: inherit; font: inherit; border: none; margin: 0; padding: 0; }
.color:before { content: ''; display: inline-block; border-radius: 100%; margin: 0.27em; height: 0.88em; width: 0.88em; vertical-align: top; position: relative; }
.color.midnightblue:before { background-color: midnightblue; }
.color.chartreuse:before { background-color: chartreuse; }

#meh { cursor: pointer; background: inherit; font: inherit; border: none; margin: 0; padding: 0; }
#meh .icon { height: 16px; width: 16px; vertical-align: text-top; }

#daily { padding: 0; }
#daily li { list-style: none outside none; display: block; float: left; }
#daily li:before { display: none; }
#daily li:not(:last-child):after {
	content: ' ';
	display: inline-block;
	height: 0.42857142857em;
	width: 0.42857142857em;
	background: black;
	border-radius: 100%;
	margin: 0.5em 0.42857142857em 0 0.42857142857em;
}
#daily:after { content: ''; clear: both; display: block; }

#grown-up { color: inherit; transition: 0.2s; opacity: 0.75; padding: 0 0.25em 0.25em 0.25em; margin-left: -0.25em; display: inline-block; }
#grown-up:hover { opacity: 1; }
#grown-up .dots {
	background: #808080;
	color: white;
	padding: 0em 0.2em;
	border-radius: 3px;
	height: 1em;
	line-height: 1em;
	margin-top: 0.2857142857em;
	float: left;
	margin-right: 0.2857142857em;
}
#grown-up .dots .dot {
	float: left;
	height: 0.42857142857em;
	width: 0.42857142857em;
	background: white;
	border-radius: 100%;
	margin-top: 0.2857142857em;
	vertical-align: top;
}
#grown-up .dots .dot:not(:last-child) {
	margin-right: 0.2142857em;
}

#childhood { display: none; position: relative; height: 100%; width: 100%; }
#childhood .photos { height: 100%; width: 100%; overflow: auto; display: inline-flex; -webkit-overflow-scrolling: touch; }
#childhood .photos img { display: block; width: auto; height: 100%; padding: 4px 0 4px 4px; }
#childhood .photos img:last-child { padding-right: 4px; }
#childhood:target { display: block; }
#childhood:target ~ #desktop { display: none; }

.close { text-indent: -9999px; position: absolute; z-index: 1; top: 2em; left: 2em; display: inline-block; width: 4em; height: 4em; overflow: hidden; }
.close:before, .close:after { content: ''; position: absolute; width: 100%; top: 50%; left: 0; margin-top: -1px; background: white; height: 1px; }
.close:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }