::selection { background: yellow; }
::-moz-selection { background: yellow; }

html { font-size: 14px; }
html, body { height: 100%; }
body { font-weight: 300; font-family: 'Open Sans'; line-height: 1.4285em; color: rgba(0, 0, 0, 0.87); }
strong { font-weight: 600; }
h1, h2, h3, h4, h5 { line-height: 1.28571429em; margin: calc(2rem -	0.14285714em ) 0em 1rem; font-weight: bold; padding: 0em; }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
	margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
	margin-bottom: 0em;
}
h1, h2, h3 { text-transform: uppercase; }
h1 { font-weight: 900; font-size: 1.5rem; font-family: 'Open Sans'; margin-bottom: 0; }
h2 { font-weight: 900; font-size: 3rem; font-family: 'Open Sans'; letter-spacing: 0.25em; }
h2 + p { font-size: 1.5rem; }
h3 { font-weight: 700; font-size: 1.25rem; font-family: 'Open Sans'; letter-spacing: 0.15em; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1.0625rem; }
a, a:hover { color: blue; text-decoration: none; }
a[rel="external"]:not(.label) { position: relative; white-space: nowrap; -webkit-transition: color 0.2s; transition: color 0.2s; }
a[rel="external"]:not(.label):before { position: absolute; top: auto; bottom: 0; left: 0; width: 100%; height: 1px; content: ''; background-color: blue; -webkit-transition: all 0.2s; transition: all 0.2s; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); }
a[rel="external"]:not(.label):hover:before { background-color: blue; -webkit-transform: scaleX(1); transform: scaleX(1); }
p { margin: 0em 0em 1em; line-height: 1.4285em; }
p:first-child { margin-top: 0em; }
p:last-child { margin-bottom: 0em; }

.ui.bulleted.list .list > .item:before, .ui.bulleted.list > .item:before, ul.ui.list li:before { content: '\25cf'; margin-left: -1rem; }
.ui.horizontal.bulleted.list > .item, ul.ui.horizontal.bulleted.list li { margin-left: 1.5rem; }
.ui.fitted.fat.divider { border-top: 0.25em solid rgba(10, 10, 10, 1); width: 33%; }
.ui.labels > .label { font-weight: 600; }
.ui.labels.fitted > .label { display: block; float: left; }

@media only screen and (max-width: 767px) {
	.ui.container { margin: 0 !important; }
	#desktop { margin: 0; }
	#a4 { padding: 0; }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#desktop { margin: calc((100% - 723px) / 2) 0; }
}		
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#desktop { margin: calc((100% - 933px) / 2) 0; }
}		
@media only screen and (min-width: 1200px) {
	#desktop { margin: calc((100% - 1127px) / 2) 0; }
}

#a4 { border-radius: 0; border: none; box-shadow: 0 10px 100px 0 rgba(34,36,38,.1); transition: all 0.2s linear; }
#a4:hover { box-shadow: 0 10px 100px 0 rgba(34,36,38,.3); }
#a4.midnightblue #frame { border-color: midnightblue; }
#a4.chartreuse #frame { border-color: chartreuse; }
#a4.midnightblue #portrait:before { background-color: midnightblue; }
#a4.chartreuse #portrait:before { background-color: chartreuse; }

#frame { position: absolute; left: -1em; top: -1em; right: -1em; bottom: -1em; transition: border-color 0.2s ease-in-out; border-width: 1em; border-style: solid; }
#portrait-wrapper { display: inline-block; padding: 0 1em; }
#portrait { position: relative; max-width: 15em; }
#portrait:before {
	display: block;
	content: '';
	padding-top: 100%;
	border-radius: 100%;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	opacity: 0.5;
}
#mask {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
}
#photo {
	-webkit-clip-path: url(#mask-clip-path);
	clip-path: url(#mask-clip-path);
}
#glasses {
	position: absolute;
	z-index: 2;
	width: 56%;
	left: 20.5%;
	bottom: 46.5%;
	transition: all 0.4s ease-in-out;
	pointer-events: none;
}
#face {
	width: 100%;
	display: block;
	position: relative;
	top: 0;
}
#portrait:hover #glasses {
	transform: rotate(90deg) translate3d(50%, 150%, 0);
	transform-origin: top left;
}
#contacts { list-style: none outside none; display: flex; padding: 0; margin-top: 0; white-space: nowrap; font-size: 0.9em; font-weight: 400; }
#contacts li { margin-bottom: 0.25rem; margin-right: 1em; height: calc(1.1428rem + 4px); }
#contacts li a { display: inline-flex; align-items: center; line-height: 1.1428rem; padding: 2px; border-radius: 2px; overflow: hidden; }
#contacts li a .icon { fill: currentColor; height: 1.1428rem; width: 1.1428rem; margin-right: 3px; }
#contacts li a.facebook { color: #3b5998; }
#contacts li a.github { color: black; }
#contacts li a.mail { color: black; }
#contacts li a.skype { color: #00aff0; }
#contacts li a.phone { color: black; }

@media only screen and (max-width: 767px) {
	#frame { opacity: 0; left: 0; right: 0; top: 0; bottom: 0; }
	#name, #contacts { text-align: center; }
	#contacts li { margin-right: 0; }
}
@media only screen and (max-width: 1199px) {
	#portrait-wrapper { padding: 0; }
	#name { margin-bottom: 1em; }
	#contacts { flex-direction: column; }
}

details summary::-webkit-details-marker {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
.packages > summary { cursor: pointer; }
.packages > .labels { margin-top: 0.5em; }
.packages > .labels:after { content: ''; clear: both; display: block; }
.timeline > ul { list-style: none outside none; padding: 0; }
.timeline > ul > li > ul { list-style: disc outside none; padding-left: 1.5em; }
.timeline > ul > li { margin-top: 1.125em; }
.timeline > ul > li > p { margin: 0; }
.tags { font-weight: 400; font-family: 'Open Sans'; }
.tags p { font-size: 0.88em; }
.language { color: inherit; white-space: nowrap; position: relative; }
a.language { font-weight: 600; }

.color { cursor: pointer; white-space: nowrap; background: inherit; font: inherit; border: none; margin: 0; padding: 0; }
.color:before { content: ''; display: inline-block; border-radius: 100%; margin: 0.27em; height: 0.88em; width: 0.88em; vertical-align: top; position: relative; }
.color.midnightblue:before { background-color: midnightblue; }
.color.chartreuse:before { background-color: chartreuse; }

#meh { cursor: pointer; background: inherit; font: inherit; border: none; margin: 0; padding: 0; }
#meh .icon { height: 16px; width: 16px; vertical-align: text-top; }

#daily { padding: 0; }
#daily li { display: block; float: left; }
#daily li:not(:last-child):after { content: '\25cf'; margin: 0 0.25rem; }
#daily:after { content: ''; clear: both; display: block; }

#grown-up { background: #c3c3c3; color: white; padding: 0em 0.2em; border-radius: 3px; display: block; height: 1em; line-height: 0.9em; transition: all 0.2s ease-in-out; float: left; margin: 0.3em 0.5em 0 0; overflow: hidden; }
#grown-up:hover { background: #b5b5b5; }
#grown-up:active { background: #a0a0a0; }

#childhood { display: none; position: relative; height: 100%; width: 100%; }
#childhood > div { padding: 1em; height: 100%; width: 100%; overflow: auto; -webkit-overflow-scrolling: touch; white-space: nowrap; }
#childhood img { width: auto; height: 100%; display: inline-block; vertical-align: top; }
#childhood:target { display: block; }
#childhood:target ~ .ui.container { display: none; }

.close { text-indent: -9999px; position: absolute; z-index: 1; top: 2em; left: 2em; display: inline-block; width: 4em; height: 4em; overflow: hidden; }
.close:before, .close:after { content: ''; position: absolute; width: 100%; top: 50%; left: 0; margin-top: -1px; background: white; height: 1px; }
.close:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }